/* PianoKeyboard.css */
.piano {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Adjust based on label height */
}

.piano-key {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.white-key {
  height: 120px;
  width: 23px;
  background-color: #fff;
  border: 1px solid #000;
}

.black-key {
  height: 80px;
  width: 15px;
  background-color: #000;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 1;
}

.active {
  background-color: #f00; 
}
.key-label {
  position: absolute;
  top: -20px;
    left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  user-select: none;
  color: #333;
}


.black-key .key-label {
  color: #fff;
}